[Desktop Entry]
Categories=Network;Email;Internet
Comment=Read Mail & News
Exec=/opt/interlink/interlink %u
GenericName=Email Client
Icon=/opt/interlink/chrome/icons/default/default256.png
MimeType=message/rfc822;x-scheme-handler/mailto;application/rss+xml;application/x-xpinstall;
Name=Interlink
StartupNotify=true
Terminal=false
Type=Application
Version=1.0
X-MultipleArgs=false
