[Desktop Entry]
Categories=Application;Internet;Network;WebBrowser;
Comment=Browse Web
Exec=/opt/palemoon/palemoon %u
GenericName=Web Browser
Icon=/opt/palemoon/browser/icons/mozicon128.png
MimeType=text/html;text/xml;application/xhtml_xml;application/x-mimearchive;x-scheme-handler/http;x-scheme-handler/https;
Name=Pale Moon
StartupNotify=true
Terminal=false
Type=Application
Version=1.0
X-MultipleArgs=false
